#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-family: Arial, sans-serif;
  background-color: rgb(2, 59, 181);
}

.main-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Button Styling */
button {
  border-radius: 5px;
  border: 2px solid #e7e012;
  padding: 1em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #9da8f0;
  cursor: pointer;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
/* Country Card Styling */
/* .country-card {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
} */
